@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

.nav li{
  display: inline;
  color: #330033;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.jumbotron h1{
  color: ;
  font-family: 'Calligraffitti', sans-serif;
}

.jumbotron p{
  color: #330033;
  font-family: 'Raleway', sans-serif;
}
